.friends {
  &__item {
    padding: 20px 0;

    display: flex;
    align-items: center;

    &:not(:first-child) {
      border-top: 1px solid #D8DDE1;
    }

    &:last-child {
      border-bottom: 1px solid #D8DDE1;
    }
  }

  &__item-img {
    width: 100px;
    height: 100px;


    border-radius: 50%;

    object-fit: cover;
  }

  &__item-text {
    margin-left: 10px;
  }
}