.dialogs {
  &__inner {
    display: grid;
    grid-template-columns: 3fr 9fr;
  }

  &__item {
    margin: 5px 10px;

    display: block;

    color: inherit;
    background-color: transparent;

    border: none;
    text-decoration: none;

    &.active {
      color: gold;
    }
  }

  &__message {
    margin: 5px 10px;
  }
}