.dialogs {
  &__item {
    margin: 5px 10px;

    display: block;

    color: inherit;
    background-color: transparent;

    border: none;
    text-decoration: none;

    &.active {
      color: gold;
    }
  }
}