.header {
  padding: 20px;

  background-color: #000000;

  grid-column: span 2;
}

.logo {
  width: 100px;
  height: 100px;

  &__image {
    width: 100px;
    height: 100px;

    object-fit: cover;
  }
}
